## create directory needed for mongo ##
sleep 30
sudo mkdir /var/log/mongodb -p
sudo mkdir /data -p
sudo mkdir /data/mongodb -p


## remove default config file ##
sudo rm /etc/mongod.conf


## creating the config file ##
sudo echo "
systemLog:
  destination: file
  path: /var/log/mongodb/mongo.log
  logAppend: true
storage:
  dbPath: /data/mongodb
net:
  bindIp: ${internalIp} 
  port: ${port}
sharding:
  clusterRole: shardsvr
replication:
  replSetName: ${replicaSetName}
" >> /etc/mongod.conf


## starting the mongo instance ##
mongod --config /etc/mongod.conf & 
sleep 10


## register secodary to the primary ##
mongo --host ${primary_ip} --port ${port} --eval 'rs.add("${internalIp}:${port}")'
