## create directory needed for mongo ##
sudo mkdir /var/log/mongodb -p
sudo mkdir /data -p
sudo mkdir /data/mongodb -p


## create keyfile ##
sudo mkdir /keyfile -p
gsutil cp gs://mongo-key/mongo/mongo.yaml /keyfile
chmod 400 /keyfile/mongo.yaml
chown root:root /keyfile/mongo.yaml


## creating the config file ##
sudo echo "
systemLog:
  destination: file
  path: /var/log/mongodb/mongo.log
  logAppend: true
storage:
  dbPath: /data/mongodb
net:
  bindIp: localhost, ${internalIp} 
  port: ${port}
sharding:
  clusterRole: shardsvr
replication:
  replSetName: ${replicaSetName}
security:
  keyFile: /keyfile/mongo.yaml
" > /etc/mongod.conf


## starting the mongo instance ##
mongod --config /etc/mongod.conf & 
sleep 20

## register secodary to the primary ##
mongo --host ${primary_ip} --port ${port} -u shopee -p shopee1234 --eval 'rs.add("${internalIp}:${port}")' > /tmp/errorbackuptop.txt


## change ssh config setting to enable password authentication ##
sudo sed -i "s/PasswordAuthentication no/PasswordAuthentication yes/" /etc/ssh/sshd_config

sudo service ssh restart &&
# create user with home directory
sudo useradd sre -m &&

# set a new password to the newly added user
echo -e "shopee1234\nshopee1234" | passwd sre

# add the new user to sudo group in sudoers
sudo usermod -a -G sudo sre

# set the new user sudoers for NOPASSWD
echo "sre ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers




