## create directory needed for mongo ##

sudo mkdir /var/log/mongodb -p
sudo mkdir /data -p
sudo mkdir /data/mongodb -p


## remove default config file ##
sudo rm /etc/mongod.conf

## create config file for shard ##
sudo echo "
systemLog:
  destination: file
  path: /var/log/mongodb/mongo.log
  logAppend: true
storage:
  dbPath: /data/mongodb
net:
  bindIp: ${internalIp} 
  port: ${port}
sharding:
  clusterRole: shardsvr
replication:
  replSetName: ${replicaSetName}
" >> /etc/mongod.conf



## starting the mongo instance ##
mongod --config /etc/mongod.conf & 
sleep 10

## initiate replica set ##
mongo --host ${internalIp} --port ${port} --eval "rs.initiate();"
sleep 5

## creating database and collection ##
mongo --host ${internalIp} --port ${port} --eval "db = db.getSiblingDB('${databaseName}'); db.createCollection('${collectionName}'); db.${collectionName}.insert({name: 1});" >/tmp/mongoss.log




