## create directory needed for mongo ##

sudo mkdir /var/log/mongodb -p
sudo mkdir /data -p
sudo mkdir /data/mongodb -p


## create keyfile ##
sudo mkdir /keyfile -p
gsutil cp gs://mongo-key/mongo/mongo.yaml /keyfile
chmod 600 /keyfile/mongo.yaml
chown root:root /keyfile/mongo.yaml


## creating config file of config server ##
sudo echo "
systemLog:
  destination: file
  path: /var/log/mongodb/mongod-config.log
  logAppend: true
storage:
  dbPath: /data/mongodb
net:
  bindIp: localhost, ${config_internalIp}
  port: ${config_port}
sharding:
  clusterRole: configsvr
replication:
  replSetName: ${config_replicaSetName}
security:
  keyFile: /keyfile/mongo.yaml
" > /etc/mongod-config.conf


## creating config file of router ##
sudo echo "
systemLog:
  destination: file
  path: /var/log/mongodb/mongos.log
  logAppend: true
sharding:
  configDB: ${config_replicaSetName}/${config_internalIp}:${config_port}
net:
  bindIp: localhost, ${config_internalIp}
  port: ${router_port}
security:
  keyFile: /keyfile/mongo.yaml
" >> /etc/mongos.conf


## initiate config server ##
sudo mongod --config /etc/mongod-config.conf &
sleep 5

## connect to config server and initiate replica set ##
mongo --host localhost --port ${config_port} --eval "rs.initiate()"; > /tmp/configserverreplicaset.txt

## initiate router ##
sudo mongos --config /etc/mongos.conf &
sleep 5
## create user for this shard
mongo  admin --port ${router_port} --eval "db.createUser({user: \"${username}\" , pwd: \"${password}\", roles: [\"clusterAdmin\", \"userAdminAnyDatabase\"]})" > /tmp/adduser.txt


## change ssh config setting to enable password authentication ##
sudo sed -i "s/PasswordAuthentication no/PasswordAuthentication yes/" /etc/ssh/sshd_config

sudo service ssh restart

sudo su
echo -e "123456\n123456" | passwd steven_alvin

